<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="IsaliaPHP">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">core/libs</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="tests/coverage"/>
            <clover outputFile="tests/coverage.xml"/>
        </report>
    </coverage>
    <php>
        <env name="ENV" value="testing"/>
    </php>
</phpunit>